/* CSS Document */

.top {
  width: 80%
  margin: 0 auto;
}
    nav {
      float: right;
    }

    body {
    background-color: lavender;
    text-align: center;
  }


header::after {
  content: "";
  display: table;
  clear: both;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding: 25px;
  position: relative;
}
img "GTB logo" {
  float: left;
  padding: 10px 0;
  position: relative;
}

nav a {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

nav a:hover {
  color: black;
}

nav a::before {
  content: "";
  display: block;
  height: 5px;
  width: 0%
  background-color: black;
  position: absolute;
  top: 0;
  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%
}

.jak {
  font-family: cursive;
  font-size: 18px;

}

.brando {
  font-family: cursive;
  font-size: 18px;

}


.Dom {
  font-family: cursive;
  font-size: 18px;
}

.champ {
  font-family: cursive;
  font-size: 18px;
}

.Nova {
  font-family: cursive;
  font-size: 18px;
}

.home{
  font-family: cursive;
  font-size: 18px;
}
